.cuadrado-verde{
    margin: auto;
    width: 400px;
    height: 400px;
    background-color: green;
}
.formulario{
    margin: auto;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.texto{
    margin: auto;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}